@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Farmer_Project.Models.Entity
@model FarmersArticles

<style>
    img {
        padding: 0;
        margin: 0;
    }

    farmer_photo {
        bprder-radius: 50%;        
    }
    /* 設定地圖容器的最小高度，讓地圖高度和容器一致 */
    .map-container {
        height: 100%;
    }

    /* 讓 iframe 填滿地圖容器 */
    .map-container iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }
</style>

@{
    var subArticle = Model.FarmersArticlesDetails; 
}
<img src="@subArticle[1].SubImagePath" class="img-fluid" />
<hr />

<div>
    <div class="tab-content">
        <div id="tab-1" class="row d-flex tab-pane fade show active justify-content-center">
            <div class="col-lg-5">
                <div class="row g-4 align-items-center">
                    <div class="col-6 mb-2">
                        <img src="@Model.FarmersInfo.Image" class="img-fluid w-100 farmer_photo" alt="">
                    </div>
                    <div class="col-6 mb-2">
                        <h3>@Model.FarmersInfo.Name</h3>
                        <p class="mb-2 f-3">
                            <i class="fa-solid fa-house"></i> @Model.FarmersInfo.FarmName
                        </p>
                        <p class="mb-2 f-3">
                            <i class="fa-solid fa-envelope"></i> @Model.FarmersInfo.Email
                        </p>
                        <p class="mb-2 f-3">
                            <i class="fa-solid fa-phone"></i> @Model.FarmersInfo.Phone
                        </p>
                        <p class="mb-2 f-3">
                            <i class="fa-solid fa-location-dot"></i> @Model.FarmersInfo.Address
                        </p>
                    </div>
                </div>
            </div>

            <!-- Google Maps -->
            <div class="col-lg-5 ">
                <div class="map-container pr-3 pb-3">
                    <iframe src="https://www.google.com/maps?q=@Model.FarmersInfo.Address&output=embed"
                            frameborder="0"
                            style="border:0">
                    </iframe>
                </div>
            </div>
        </div>
    </div>

    
</div>




